<% include ../partials/header %>

<body class="show">
    <div class="row">
        <div class="container">
            
            <div class="pull-left">
                <a href="/reviews/<%=review._id%>/edit" class="btn btn-primary pull-left">Edit</a>
                <p>Only the author of a post can edit it</p>
            </div>
           
            <div>
                <p style="margin-top:5%;">
                    <h1><%=review.park%></h1> 
                </p>
            </div>
            
            <div class="thumbnail" id="showImage">
                <img src="<%=review.image%>">
            </div>
            
            <div>
                <h1>Adventure Review From: <%= review.author.username %></h1>
                <p id="review"><%= review.description %></p>
            </div>
            
            <div class="well">
                <h1><a href="/reviews/<%= review._id %>/comments/new" class="btn btn-success">Comment</a></h1>
                <hr>
                <% review.comments.forEach(function(comment){ %> 
                    <div id="comment">
                        <p><strong><%=comment.author.username%></strong> - <%= comment.text %></p>
                    </div>
                <% }); %>
            </div>
        
        </div>
    </div> 
        
        <a class="btn btn-primary" href="/reviews">Go Back</a>
    
    
</body> 

<% include ../partials/footer %>